<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>后台管理系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css">
</head>
<body>

<include file="Common/header" />

<!-- 右 -->
<div class="content">
    <div class="header">
        <h1 class="page-title">商品类型列表</h1>
    </div>

    <div class="well">
    <a class="btn btn-primary" onclick="javascript:window.location.href='__CONTROLLER__/add'">新增</a>
        <!-- table -->
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>商品类型名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <volist name="data" id="vol">
                <tr class="success">
                    <td>{$vol.type_id}</td>
                    <td>{$vol.type_name}</td>
                    <td>
                        <a href="__CONTROLLER__/edit/type_id/{$vol.type_id}"> 编辑 </a>
                        <a href="javascript:void(0);" onclick="if(confirm('确认删除？')) location.href='__CONTROLLER__/del/type_id/{$vol.type_id}'"> 删除 </a>
                    </td>
                </tr>
                </volist>
            </tbody>
        </table>
    </div>
    <!-- footer -->
    <footer>
        <hr>
        <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
    </footer>
</div>
</body>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="__PUBLIC__/Admin/js/jquery-1.8.1.min.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
<!-- 日期控件 -->
<script src="__PUBLIC__/Admin/js/calendar/WdatePicker.js"></script>
</html>