<!-- 上 -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user icon-white"></i> admin
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="javascript:void(0);">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="__MODULE__/Login/logout">安全退出</a></li>
                    </ul>
                </li>
            </ul>
            <a class="brand" href="index.html"><span class="first">后台管理系统</span></a>
            <ul class="nav">
                <li class="active"><a href="javascript:void(0);">首页</a></li>
                <li><a href="javascript:void(0);">系统管理</a></li>
                <li><a href="javascript:void(0);">权限管理</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- 左 -->
<div class="sidebar-nav">
    <volist name="Think.session.top" id="vol_top" key="k">
    <a href="#error-menu{$k}" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>{$vol_top.auth_name}</a>
    <ul id="error-menu{$k}" class="nav nav-list collapse in">
        <volist name="Think.session.second" id="vol_second">
        <if condition=" $vol_second.pid == $vol_top.id " >
        <li><a href="__MODULE__/{$vol_second.auth_c}/{$vol_second.auth_a}">{$vol_second.auth_name}</a></li>
        </if>
        </volist>
    </ul>
    </volist>
</div>